<div class="page" id="guide">

  <div class="background"></div>

  <section class="landingpage">
    <pb-headline
      title="guide"
      subtitle="Learn about Pyblish">
    </pb-headline>

    <a href="" ng-click="scrollTo('viewport')">
      <i class="fa fa-chevron-down"></i>
    </a>
  </section>

  <div
    class="navigation"
    ng-show="ctrl.showNavigation"
    ng-class="{'sidebar-visible': ctrl.showSidebar}">
    <a
      class="next"
      href="{{ ctrl.next }}"
      ng-show="ctrl.next"
      tooltip="Next"
      tooltip-placement="left">
        <img src="static/img/next.png" alt="">
    </a>

    <a
      class="previous"
      href="{{ ctrl.previous }}"
      ng-show="ctrl.previous"
      tooltip="Previous"
      tooltip-placement="right">
        <img src="static/img/previous.png" alt="">
    </a>
  </div>

  <div class="filler"></div>

  <section id="viewport" class="sidebar-visible">
    <div
      id="sidebar"
      ng-show="ctrl.showSidebar">
      <ul>
        <div ng-repeat="item in ctrl.toc">
          <h3 ng-show="item.group">{{ item.group }}</h3>
          <li ng-class="{active: item.isActive}">
            <a href="{{ item.href }}">{{ item.text }}</a>
          </li>
          <p></p>
        </div>
      </ul>
    </div>
    <div ng-bind-html="ctrl.html" class="markdown-viewport"></div>
  </section>
</div>
