<section id="landingpage">

  <pb-headline
    title="Pyblish">

      A <a href="http://en.wikipedia.org/wiki/Poka-yoke">Poka-Yoke device</a>
      for the production of film, games and commercials.

      <br>

      You can think of it as small, programmable building blocks located 
      between your artists, safe-guarding that which is passed on.

  </pb-headline>

  <a
    href="https://vimeo.com/117184207"
    target="_blank"
    tooltip="Play on Vimeo"
    tooltip-placement="bottom">
    <img id="play" src="static/img/play.png" alt="">
  </a>

</section>
