<div class="page" id="home">

  <div class="background"></div>

  <section class="landingpage">
    <pb-headline
      id="main-title"
      title="PYBLISH"
      subtitle="test-driven content creation">
      <br>
      <a
        href=""
        ng-click="ctrl.showPlayer=true">
          <img id="play" src="static/img/play-white.png" alt="">
      </button>
    </pb-headline>

    <a
      id="player"
      ng-class="{active: ctrl.showPlayer}"
      ng-click="ctrl.showPlayer=false">
        <iframe width="1280" height="720" src="{{ ctrl.showPlayer ? ctrl.playerUrl : '' }}" frameborder="0" allowfullscreen></iframe>
    </a>

    <a href="" ng-click="scrollTo('companies')">
      <i class="fa fa-chevron-down"></i>
    </a>

  </section>

  <div class="find-out-more">
    <div class="cover">
      <h1>Build once, use everywhere.</h1>
      <a
        href="/guide"
        role="button"
        class="btn btn-default btn-square">
          Find out more
      </a>
    </div>
  </div>

<!-- 
  <section id="example">

    <h1>Intuitive Python</h1>

    <p>
      Write effortlessly with the PEP08 conformant API.
    </p>

    <pre><code class="python">
from pyblish.api import Validator

class ValidateAsset(Validator):
  def process(self, context):
    assert context.data("user") == "marcus", "Permission denied"

    </code></pre>
    
  </section>
 -->
  
  <div class="filler"></div>

  <section id="companies">
    <h1>Trusted by <strong>tens</strong> of companies</h1>

    <div class="grid">
      <a
        href=""
        ng-repeat="i in ctrl.companies"
        tooltip="{{i.company.name}}"
        tooltip-placement="top">
        <img
          ng-src="{{i.company.logo}}"
          height="{{i.height}}"
          alt="">
      </a>
    </div>
  </section>

  <div class="filler"></div>

  <section id="software">
    <h1>Plays well with others</h1>

    <p>
      A hackable interface enables integration into your pipeline with little to no effort. Pre-built integration packages available for major software packages are there to get you going fast.
    </p>

    <div class="grid">
      <a
        ng-repeat="i in ctrl.software"
        href=""
        tooltip="{{i.tooltip}}"
        tooltip-placement="top">
        <img
           ng-src="{{i.src}}"
           height="{{i.height}}"
           alt="">
      </a>
    </div>
  </section>

  <div class="filler"></div>

  <div class="find-out-more first">
    <div class="cover">
      <h1>Cross-platform, language and software agnostic.</h1>
      <a
        href="/guide"
        role="button"
        class="btn btn-default btn-square">
          Find out more
      </a>
    </div>
  </div>

  <div class="filler"></div>

  <section id="why-like-it">
    <div class="grid">
      <div id="why-like-it-images">
        <i class="fa fa-desktop"></i>
        <i class="fa fa-cog"></i>
      </div>
      <div>
        <h3>Why do developers like it?</h3>
        <p>
          With Pyblish, developers can build a single and cohesive publishing pipeline for every software package, every production, and be part of the fast-growing community of pipeline developers to share and learn from the experience of others.
        </p>
        <br>
        <br>
        <h3>Why do artists like it?</h3>        
        <p>
          Artists are given confidence in knowing that whatever they manage to push through the pipeline is up-to-par with the expectations of the team. A rich and intuitive graphical interface provides them with the means to know exactly how what do to in every situation.
        </p>
      </div>
    </div>
  </section>

  <div class="filler"></div>

  <section id="stories">
    <h1>Customer stories</h1>

    <br>

    <div class="grid">
      <div class="box" ng-repeat="s in ctrl.stories">
        <p>{{ s.story }}</p>
        <br>
        <i>
          <p>{{ s.person.name }}</p>
          <p>{{ s.person.role }} at {{s.company.name}}</p>
        </i>
      </div>
    </div>
  </section>

  <div class="filler"></div>

  <footer>
    <div class="menu">
      <a
        href="http://abstractfactory.io"
        target="_blank"
        tooltip="Developed by Abstract Factory"
        tooltip-placement="right">
          <div class="logo"></div>
      </a>

      <div class="filler"></div>

      <!-- <a class="item" href="/terms">Terms of use</a> -->
      <!-- <a class="item" href="/privacy">Privacy policy</a> -->
      <a class="item" href="mailto:hello@abstractfactory.io">Contact</a>
      <a class="item" href="/jobs">Jobs</a>
      <a class="item" target="_blank" href="http://abstractfactory.io">Company</a>
    </div>

    <p id="copyright"><i class="fa fa-copyright"></i> 2015 Abstract Factory Ltd.</p>
  </footer>
</div>