<div id="home">

  <div id="background"></div>

  <section id="landingpage">

    <pb-headline
      id="main-title"
      title="pyblish"
      subtitle="A publishing framework">
    
      <br>

      <a
        href=""
        ng-click="ctrl.showPlayer=true">
          <img id="play" src="static/img/play-white.png" alt="">
      </button>

    </pb-headline>


    <a
      id="player"
      ng-class="{active: ctrl.showPlayer}"
      ng-click="ctrl.showPlayer=false">
        <iframe src="{{ctrl.showPlayer ? ctrl.playerUrl : ''}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </a>

    <a href="" ng-click="scrollTo('companies')">
      <i class="fa fa-chevron-down"></i>
    </a>

  </section>

  <div id="find-out-more">
    <div id="cover">
      <a
        href="/guide"
        role="button"
        class="btn btn-default btn-square">
          Find out more
      </a>
    </div>
  </div>

  <i style="height=200px; width:1px"></i>

  <section id="companies">
    <div class="background"></div>

    <h1>Trusted by <strong>tens</strong> of companies</h1>

    <div class="grid">
      <a
        href=""
        ng-repeat="i in ctrl.companies">
        <img
          ng-src="{{i.src}}"
          height="{{i.height}}"
          alt="">
      </a>
    </div>
  </section>

  <section id="software">
    <h1>Plays well with others</h1>

    <p>
      A hackable interface enables integration into your pipeline with little to no effort. Pre-built integration packages available for major software packages are there to get you going fast.
    </p>

    <div class="grid">
      <a
        ng-repeat="i in ctrl.software"
        href=""
        tooltip="{{i.tooltip}}"
        tooltip-placement="top">
        <img
           ng-src="{{i.src}}"
           height="{{i.height}}"
           alt="">
      </a>
    </div>
  </section>


  <div id="find-out-more">
    <div id="cover">
      <a
        href="/guide"
        role="button"
        class="btn btn-default btn-square">
          Find out more
      </a>
    </div>
  </div>


  <section id="what-is-it">
    <div class="grid">
      <img>
      <div>
        <h3>Why do developers like it?</h3>
        <p>
          With Pyblish, developers can build better and more robust pipelines by leveraging a well documented, thoroughly tested and open source solution and provide artists with the tools they need to produce consistent results.
        </p>

        <p>
          Developers can get going quickly with ready-made collections of validation, extraction and integration processes produced and contributed by artists and developers around from the globe.
        </p>

        <p>
          Pyblish helps developers build better and more robust pipelines.
        </p>

        <br>
        <br>

        <h3>Why do artists like it?</h3>
        
        <p>
          With an intuitive interface and direct access to the information they need to ensure quality and consistency in their work, artists gain confidence in knowing that whatever they manage to push through the publishing pipeline is up-to-par with the expectations of the team.
        </p>

        <p>
          Pyblish helps artists create better content faster.
        </p>

      </div>
    </div>
  </section>

  <section id="stories">
    <h1>Customer stories</h1>

    <br>

    <div class="grid">
      <div class="box" ng-repeat="s in ctrl.stories">
        <p>{{s.story}}</p>
        <br>
        <i>
          <p>{{s.name}}</p>
          <p>{{s.company.name}}</p>
        </i>
        <!-- <a href="{{s.link}}" target="_blank"></a> -->
      </div>
    </div>
  </section>
  <footer>
    <div class="menu">
      <a
        href="http://abstractfactory.io"
        target="_blank"
        tooltip="Developed by Abstract Factory"
        tooltip-placement="right">
          <div class="logo"></div>
      </a>

      <div class="filler"></div>

      <a class="item" href="/terms">Terms of use</a>
      <a class="item" href="/privacy">Privacy policy</a>
      <a class="item" href="/jobs">Jobs</a>
      <a class="item" target="_blank" href="http://abstractfactory.io">Company</a>
    </div>

    <p id="copyright"><i class="fa fa-copyright"></i> 2015 Abstract Factory Ltd.</p>
  </footer>
</div>