
<div class="page" id="about">

  <div class="background"></div>

  <section class="landingpage">
    <pb-headline
      title="jobs"
      subtitle="We want you">
    </pb-headline>

    <a href="" ng-click="scrollTo('find-out-more')">
      <i class="fa fa-chevron-down"></i>
    </a>
  </section>

  <div class="find-out-more">
    <div class="cover">
      <h1>
        Help us develop Pyblish for the world to benefit from.
      </h1>
      <p>

      </p>
      <a
        href="mailto:contact@abstractfactory.io"
        role="button"
        class="btn btn-default btn-square">
          Get in touch
      </a>
    </div>
  </div>
</div>