
  
<!-- Kits -->


<div id="kits">
  <section>

    <pb-headline
      title="Kits">
        Get started quickly with a library of pre-built operators, suited to you.
    </pb-headline>
    
    <div class="legend group">
      <table>
        <tr>
          <td class="film"></td>
          <td>Film</td>
        </tr>
        <tr>
          <td class="commercial"></td>
          <td>Commercial</td>
        </tr>
        <tr>
          <td class="games"></td>
          <td>Games</td>
        </tr>
        <tr>
          <td class="visualisation"></td>
          <td>Visualisation</td>
        </tr>
      </table>
    </div> <!-- legend end -->

    <div class="kit">
      <div class="kit-body">
        <h2>Starter</h2>
        <p>All-around starter kit for any production workflow.</p>
      </div>
      <div class="classes">
        <div class="class film active"></div>
        <div class="class games active"></div>
        <div class="class commercial active"></div>
        <div class="class visualisation active"></div>
      </div>
      <p class="comingsoon"><a href="#">Coming soon</a></p>
    </div>

    <div class="kit">
      <h2>Mantis</h2>
      <p>Minimalist commercial kit, perfect for those looking for a clean slate.</p>
      <div class="classes">
        <div class="class film active"></div>
        <div class="class games active"></div>
        <div class="class commercial active"></div>
        <div class="class visualisation active"></div>
      </div>
      <p class="comingsoon"><a href="#">Coming soon</a></p>
    </div>
    <div class="kit">
      <h2>Black bear</h2>
      <p>Feature-film quality kit, exhaustive collection of validations and extractions.</p>
      <div class="classes">
        <div class="class film active"></div>
        <div class="class games"></div>
        <div class="class commercial"></div>
        <div class="class visualisation"></div>
      </div>
      <p class="comingsoon"><a href="#">Coming soon</a></p>
    </div>
    <div class="kit">
      <h2>Octopus</h2>
      <p>Operators targeted towards triple-A game production.</p>
      <div class="classes">
        <div class="class film"></div>
        <div class="class games active"></div>
        <div class="class commercial"></div>
        <div class="class visualisation"></div>
      </div>
      <p class="comingsoon"><a href="#">Coming soon</a></p>
    </div>
    <div class="kit">
      <h2>Flowerhorn</h2>
      <p>Experimental, inverse-of-control style operator library. Inspired by Bootstrap.</p>
      <div class="classes">
        <div class="class film active"></div>
        <div class="class games"></div>
        <div class="class commercial active"></div>
        <div class="class visualisation"></div>
      </div>
      <p class="comingsoon"><a href="#">Coming soon</a></p>
    </div>

    <a role="button" class="btn btn-primary" href="/kits">Find out more</a>

  </section> <!-- end section -->
</div>