

<header>
  <a href="/">
    <div
      class="logo"
      tooltip="Home"
      tooltip-placement="bottom">
    </div>
  </a>
  <div class="menu">
    <div class="filler"></div>
    <a class="item" href="/">Home</a>
    <a class="item" href="https://gitter.im/pyblish/pyblish"
      tooltip="Go to chat"
      tooltip-placement="bottom">Chat</a>
    <a class="item" href="http://forums.pyblish.com"
      tooltip="Go to forums"
      tooltip-placement="bottom">Forums</a>
    <a class="item" href="/guide">Guide</a>
    <a class="item" href="http://api.pyblish.com"
      tooltip="Offsite"
      tooltip-placement="bottom">API</a>

    <div class="download">
      <a
        href="https://github.com/pyblish/pyblish"
        role="button"
        target="_blank"
        tooltip="Go to GitHub"
        tooltip-placement="bottom"
        class="btn btn-default">Download</a>
    </div>
  </div>
</header>
