

<header>
  <a href="/">
    <div
      class="logo"
      tooltip="Home"
      tooltip-placement="bottom">
    </div>
  </a>
  <div class="menu">
    <div class="filler"></div>
    <!-- <span class="dropdown item" dropdown>
      <a
        class="dropdown-toggle"
        dropdown-toggle
        href>Kits
      </a>
      <ul class="dropdown-menu">
        <li><a href="/kits">Overview</a></li>
        <li class="divider"></li>
        <li><a href="/kits">Starter</a></li>
        <li><a href="/kits">Mantis</a></li>
        <li><a href="/kits">Black Bear</a></li>
        <li><a href="/kits">Octopus</a></li>
        <li><a href="/kits">Flowerhorn</a></li>
      </ul>
    </span> -->
    <!-- <a class="item" href="/pricing">Pricing</a> -->
    <a class="item" href="/guide">Guide</a>
    <div class="download">
      <a
        href="https://github.com/abstractfactory/pyblish"
        role="button"
        target="_blank"
        class="btn btn-default">Download</a>
    </div>
  </div>
</header>