<div id="header">
  <div id="background" ng-class="{translucent: headerTranslucent}"></div>

  <header ng-class="{translucent: headerTranslucent}">
    <a href="/">
      <div
        class="logo"
        tooltip="Home"
        tooltip-placement="bottom"
        ng-class="{translucent: headerTranslucent}">
      </div>
    </a>
    <div class="menu">
      <div class="filler"></div>
      <a
        ng-href="{{ item.link }}"
        class="item"
        ng-repeat="item in items">
          {{ item.title }}
      </a>

      <span class="dropdown item" dropdown on-toggle="toggled(open)">
        <a href class="dropdown-toggle" dropdown-toggle>
          More
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="item in moreitems">
            <a
              target="_blank"
              ng-href="{{ item.link }}">
                {{ item.title }}
            </a>
          </li>
        </ul>
      </span>

      <div class="download">
        <a
          ng-href="https://github.com/pyblish/pyblish-{{ os.link }}/releases/latest"
          role="button"
          target="_blank"
          tooltip="Download for {{ os.name }}"
          tooltip-placement="bottom"
          class="btn btn-default">
            Download
        </a>
      </div>
    </div>
  </header>
</div>