<!-- 

Price Directive - Single column with multiple options.

   _____________
  |             |
  |    title    |
  |   location  |
  |=============|
  | description |
  |=============|
  |    list1    |
  |    list2    |
  |    list3    |
  |             |
  |       _____ |
  |      |_____||
  |_____________|

-->


<div>
  <h2>{{ ctrl.title }}</h2>
  <p class="location">{{ ctrl.location }}</p>
  <p class="description">{{ ctrl.description }}</p>

  <ul>
    <li ng-repeat="feature in ctrl.features">{{ feature }}</li>
  </ul>

  <a
    role="button"
    class="btn btn-default"
    href="{{ ctrl.link }}">
      More
  </a>
</div>