
html {
  // font: 400 1em/1.58 "Lato", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  // font: 400 0.9em/1.58 "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font: 300 0.9em/1.28 "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color: $font-color;
  min-width: 650px;
  letter-spacing: 0.03em;

  a {
    color: $font-color;

    &:link { text-decoration: none; }
    &:hover { color: $font-color; }
    &:visited { color: $font-color; }
  }

  h1, h2, h3, h4, p {
    cursor: default;
  }

  strong {
    font-weight: bold;
  }

  h1 {
    font-weight: 200;
    font-size: 2.6em;
  }
  
  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.8em;
  }

  p {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}


html, body, .wrapper {
  background-color: $background-color;
}

.wrapper {
  display: flex;
  justify-content: center;

  // height: 100vh;
  // min-height: 400px;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.page {
  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .landingpage {
    position: relative;
    padding-top: $header-height;
    padding-bottom: 100px;
    min-height: 100vh;
    max-height: 100vh;
    margin-top: 0;
  }
}

.filler {
  margin-top: 130px;
}

.find-out-more {
  height: 200px;

  .cover {
    position: absolute;
    left: 0;
    right: 0;
    height: 200px;
    background-color: #222;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h1 {
      color: #515151;
      padding-bottom: 20px;
      font-size: 2.1em;
    }
  }
}