@font-face { font-family: "Lato"; src: url("../font/Lato-Regular.ttf") format("truetype"); font-weight: 400; }
@font-face { font-family: "Lato"; src: url("../font/Lato-Bold.ttf") format("truetype"); font-weight: 700; }
@font-face { font-family: "Lato"; src: url("../font/Lato-Light.ttf") format("truetype"); font-weight: 200; }


html {
  // font: 400 1em/1.58 "Lato", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  // font: 400 0.9em/1.58 "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font: 300 0.9em/1.28 "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color: $font-color;
  min-width: 650px;
  letter-spacing: 0.03em;

  a {
    color: $font-color;

    &:link { text-decoration: none; }
    &:hover { color: $font-color; }
    &:visited { color: $font-color; }
  }

  h1, h2, h3, h4, p {
    cursor: default;
  }

  strong {
    font-weight: bold;
  }

  h1 {
    font-weight: 200;
    font-size: 2.6em;
  }
  
  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.8em;
  }

  p {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}


html, body, .wrapper {
  background-color: $background-color;
}

.wrapper {
  display: flex;
  justify-content: center;

  // height: 100vh;
  // min-height: 400px;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
