/*
    
  Main menu.
   ________   ________   ________   ________ 
  |________| |________| |________| |________|

*/

@import "variables";


#header {

  #background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    height: $header-height;
    background-color: white;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1);

    transition: height 0.5s;

    &.translucent {
      height: 0px;
    }
  }

  header {
    position: fixed;
    display: flex;
    left: 0px;
    right: 0px;
    top: 0px;
    height: $header-height;

    padding: 20px;
    z-index: 4;

    background-color: transparent;

    .dropdown-menu {
      top: 110%;
      left: -20px;
    }

    &.translucent {
      a {
        color: white;

        &.btn {
          background-color: transparent;
        }
      }

      .menu .item {
        border-bottom-color: white;
      }

      .dropdown-menu {
        background: transparent;
        border: none;

        a:hover {
          background: rgba(255, 255, 255, 0.05);
        }
      }
    }

    .logo {
      padding: 0;
      margin: 0;
      width: 128px;
      height: 32px;
      background-image: url("../img/pyblish-black.png");
      background-size: auto 32px;
      background-repeat: no-repeat;

      &.translucent {
        width: 32px;
        background-image: url("../img/pyblish-white.png")
      }
    }

    .menu {
      display: flex;
      flex-grow: 1;
      align-items: flex-start;

      .filler {
        flex-grow: 1;
      }

      .item {
        display: block;
        flex-grow: 0;
        line-height: 32px;
        margin-right: 20px;
        transition: transform 0.2s, border 0.1s;
        z-index: 10;
        
        &.btn {
          padding: 5px;
          padding-top: 0;
          padding-bottom: 0;
          background-color: white;
          transition: background-color 0.5s;
        }
      
        border-bottom: 0px solid #ccc;

        &:hover {
          border-bottom-width: 3px;
        }
      }

      /*
        Tweaks.

        The last item shouldn't have a margin.
        We'll also slightly move the tooltip as it would otherwise
        get obscured by the right-hand side of the window.

      */
      .download {
        a {
          margin-right: 0;
        }
        .tooltip {
          transform: translateX(-20px);
        }

        .tooltip-arrow {
          transform: translateX(20px);
        }
      }
    }
  }
}