
#home {
  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    background-image: url("../img/backdrop-1500.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .find-out-more.first {
    margin-top: 0px;
  }

  .landingpage {
    position: relative;
    top: 60px;

    h1 {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    }
  }
  
  #play {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 80px;
    opacity: 0.5;

    transition: opacity 0.1s;

    &:hover {
      opacity: 1.0;
    }
  }

  #player {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 3;
    visibility: hidden;

    background-color: rgba(0, 0, 0, 0);

    transition: background-color 0.3s;

    &.active {
      visibility: visible;
      background-color: rgba(0, 0, 0, 0.5);

      iframe {
        display: block;
      }
    }

    text-align: center;

    iframe {
      display: none;
      width: 960px;
      height: 540px;
    }
  }

  #why-like-it {
    .grid {
      flex-wrap: nowrap;
      align-items: flex-start;

      #why-like-it-images {
        width: 200px;
        min-width: 200px;
        font-size: 8em;
        margin-right: 50px;

        i:last-child {
          padding-left: 100px;
        }
      }

      img {
        background-image: url("../img/sunset_bridge-wallpaper-2560x1920.jpg");
        background-position: -475px -58px;
        background-repeat: no-repeat;
        background-size: 1200px;
        min-width: 200px;
        max-width: 200px;
        min-height: 250px;
        max-height: 250px;
        margin-right: 50px;
      }
    }
  }


  #companies, #software, #example {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      padding-bottom: 30px;
    }

    a {
      display: flex;
      align-items: center;
      cursor: default;

      img {
        margin: 20px;
        width: auto;
      }
    }

    h1, p {
      text-align: center;
    }
  }

  #software a img {
    width: 100px;
    height: auto;
  }

  #stories {
    h1 {
      text-align: center;
    }

    .grid {
      justify-content: center;
      align-items: stretch;

      .box {
        width: 200px;
        color: white;
        background-color: #222;
        margin: 15px;
        overflow: hidden;

        max-width: 250px;

        position: relative;
        padding: 10px;

        box-shadow: 1px 1px 2px 0px #AAA;
        transition: box-shadow 0.1s;

        i {
          font-style: normal;
          color: #777;
        }

        p, a, div {
          position: relative;
          z-index: 2;
        }

        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}