

/*

  A section represents a single row of information on the site
  and includes e.g. landing page, pricing and kit information.

*/

section {
  margin-left: 70px;
  margin-right: 70px;
  padding-bottom: 130px;

  p {
    transition: opacity 0.1s;
    line-height: 1.5em;
  }

  /*
  
    Headlines mostly fills the viewport with its header text.

     ____________________________________________
    |                                            |
    |                                            |
    |____________________________________________|
            ______________________________
           |______________________________|


  */
  pb-headline div {
    padding-top: 100px;
    padding-bottom: 100px;

    h1 {
      font-size: 6em;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 15px;
    }

    p {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      max-width: 500px;
      text-align: center;
      color: lighten($font-color, 30);
    }
  }
  
  #play {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 80px;
  }
}


$button-width: 100px;
.next, .previous {

  position: fixed;
  top: 0px;
  bottom: 0px;
  display: table-cell;
  vertical-align: middle;
  
  img {
    position: absolute;
    
    // Image ends up with it's top-anchor at the center
    // So we'll need to offset it via a negative top-margin
    top: 50%;
    margin-top: - $button-width / 2;
    text-align: center;
    transition: margin-left ease-out 0.1s;
  }
}

.next {
  width: $button-width;
  right: 0px;

  &:hover {
    img {
      margin-left: 10px;
    }
  }
}

.previous {
  width: $button-width;
  left: 0px;
  transition: margin-right ease-out 0.1s;
  
  &:hover {
    img {
      margin-left: -10px;
    }
  }
}
