@import "variables";


.sidebar {
  background: white;
  opacity: 0.9;
  position: fixed;
  top: $header-height;
  bottom: 0px;
  left: 0px;
  width: $sidebar-width;
  z-index: 1;

  padding-left: 50px;

  ul {
    div {
      padding: 0;
      margin: 0;

      &:last-child p {
        visibility: hidden;
      }
    }

    li {
      font-size: 1.0em;
      margin: 0;
      padding-left: 25px;
      background: url("../img/list-style-image2.png") no-repeat 0px 0px;

      &.active {
        background: url("../img/list-style-image2-active.png") no-repeat 0px 0px;;
        
        a {
          color: black;
          font-weight: 700;
        }
      }
    }

    p {
      margin: 0;
      padding: 0;
      // margin-top: -1px;
      margin-bottom: -1px;
      margin-left: 6px;
      height: 15px;
      border-left: 2px solid rgba(0, 0, 0, 0.2);
    }    
  }
}