
$font-color: rgb(120, 120, 120);
$font-color-bold: #333;
$font-color-light: #999;
$price-color: white;
$background-color: rgb(253, 253, 253);

$blue: #6CADD9;
$green: #C5EB87;

$section-spacing: 200px;
$header-height: 80px;