@font-face { font-family: "Lato"; src: url("../font/Lato-Regular.ttf") format("truetype"); font-weight: 400; }
@font-face { font-family: "Lato"; src: url("../font/Lato-Bold.ttf") format("truetype"); font-weight: 700; }
@font-face { font-family: "Lato"; src: url("../font/Lato-Light.ttf") format("truetype"); font-weight: 200; }

@import "variables";
@import "reset";
@import "global";
@import "bootstrap";
@import "404";
@import "markdown";
@import "header";
@import "footer";
@import "section";
@import "sidebar";
@import "syntax-highlighting";
@import "hljs";

// Pages
@import "home";
@import "pricing";
@import "kits";
@import "guide";

@media only screen and (max-device-width: 480px) {
  #home .background {
    background-image: url("../img/backdrop-700.png");
  }

  #player iframe {
      display: none;
      width: 640px;
      height: 360px;
    }
}