@font-face {
  font-family: "Lato";
  src: url("../font/Lato-Regular.ttf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: "Lato";
  src: url("../font/Lato-Bold.ttf") format("truetype");
  font-weight: 700; }
@font-face {
  font-family: "Lato";
  src: url("../font/Lato-Light.ttf") format("truetype");
  font-weight: 200; }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font: 300 0.9em/1.28 "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color: #787878;
  min-width: 650px;
  letter-spacing: 0.03em; }
  html a {
    color: #787878; }
    html a:link {
      text-decoration: none; }
    html a:hover {
      color: #787878; }
    html a:visited {
      color: #787878; }
  html h1, html h2, html h3, html h4, html p {
    cursor: default; }
  html strong {
    font-weight: bold; }
  html h1 {
    font-weight: 200;
    font-size: 2.6em; }
  html h2 {
    font-size: 1.4em; }
  html h3 {
    font-size: 1.8em; }
  html p {
    margin-top: 5px;
    margin-bottom: 20px; }

html, body, .wrapper {
  background-color: #fdfdfd; }

.wrapper {
  display: flex;
  justify-content: center; }

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.page .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
.page .landingpage {
  position: relative;
  padding-top: 80px;
  padding-bottom: 100px;
  min-height: 100vh;
  max-height: 100vh;
  margin-top: 0; }

.filler {
  margin-top: 130px; }

.find-out-more {
  height: 200px; }
  .find-out-more .cover {
    position: absolute;
    left: 0;
    right: 0;
    height: 200px;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .find-out-more .cover h1 {
      color: #515151;
      padding-bottom: 20px;
      font-size: 2.1em; }

.btn-square {
  color: #ddd;
  background: transparent;
  border-radius: 0;
  border-width: 3px;
  border-color: white;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  transition: background 0.2s, color 0.2s; }
  .btn-square:visited {
    color: #fff; }
  .btn-square:hover {
    color: #333;
    border-color: white;
    background: white; }

.dropdown-menu {
  min-width: inherit; }
  .dropdown-menu > li > a {
    font-weight: inherit; }

#fourofour {
  position: relative;
  background-color: brown;
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #fourofour h1 {
    text-align: center;
    font-size: 3em; }
  #fourofour p {
    text-align: center;
    opacity: 0.5; }

.markdown-viewport h1 {
  padding-top: 200px;
  padding-bottom: 20px;
  font-size: 2.5em; }
  .markdown-viewport h1:first-child {
    padding-top: 0; }
.markdown-viewport h2 {
  font-size: 1.5em;
  color: #393939; }
.markdown-viewport h3 {
  font-size: 1.3em; }
.markdown-viewport h1, .markdown-viewport h2, .markdown-viewport h3 {
  margin-bottom: 20px;
  line-height: 1.1; }
.markdown-viewport h3, .markdown-viewport h4, .markdown-viewport h5, .markdown-viewport h6 {
  color: #494949; }
.markdown-viewport p, .markdown-viewport ul, .markdown-viewport ol, .markdown-viewport table, .markdown-viewport pre, .markdown-viewport dl {
  color: #787878;
  margin: 0 0 20px; }
  .markdown-viewport p ul, .markdown-viewport ul ul, .markdown-viewport ol ul, .markdown-viewport table ul, .markdown-viewport pre ul, .markdown-viewport dl ul {
    margin: 0; }
.markdown-viewport li {
  margin-left: 40px;
  line-height: 1.5em;
  list-style: disc; }
.markdown-viewport a {
  color: #8d8d8d;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.1s; }
  .markdown-viewport a small {
    font-size: 11px;
    color: #777;
    margin-top: -0.6em;
    display: block; }
  .markdown-viewport a:hover {
    color: #00adff; }
  .markdown-viewport a.is-active {
    color: #ed4877; }
.markdown-viewport blockquote {
  border-left: 5px solid #e5e5e5;
  padding: 0 0 0 20px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 20px; }
  .markdown-viewport blockquote p {
    color: #999; }
.markdown-viewport code, .markdown-viewport pre {
  font-family: "Source Code Pro";
  font-weight: 400;
  color: #333;
  font-size: 12px; }
.markdown-viewport pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto; }
.markdown-viewport table {
  width: 100%;
  border-collapse: collapse; }
.markdown-viewport th, .markdown-viewport td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5; }
.markdown-viewport dt {
  color: #444;
  font-weight: 700; }
.markdown-viewport th {
  color: #444; }
.markdown-viewport img {
  margin-top: 20px;
  margin-bottom: 20px; }
.markdown-viewport strong {
  color: #222;
  font-weight: 700; }
.markdown-viewport small {
  font-size: 11px; }
.markdown-viewport hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px; }
.markdown-viewport em {
  font-style: italic; }

/*
    
  Main menu.
   ________   ________   ________   ________ 
  |________| |________| |________| |________|

*/
#header #background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 80px;
  background-color: white;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  transition: height 0.5s; }
  #header #background.translucent {
    height: 0px; }
#header header {
  position: fixed;
  display: flex;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 80px;
  padding: 20px;
  z-index: 4;
  background-color: transparent; }
  #header header .dropdown-menu {
    top: 110%;
    left: -20px; }
  #header header.translucent a {
    color: white; }
    #header header.translucent a.btn {
      background-color: transparent; }
  #header header.translucent .menu .item {
    border-bottom-color: white; }
  #header header.translucent .dropdown-menu {
    background: transparent;
    border: none; }
    #header header.translucent .dropdown-menu a:hover {
      background: rgba(255, 255, 255, 0.05); }
  #header header .logo {
    padding: 0;
    margin: 0;
    width: 128px;
    height: 32px;
    background-image: url("../img/pyblish-black.png");
    background-size: auto 32px;
    background-repeat: no-repeat; }
    #header header .logo.translucent {
      width: 32px;
      background-image: url("../img/pyblish-white.png"); }
  #header header .menu {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
      /*
        Tweaks.

        The last item shouldn't have a margin.
        We'll also slightly move the tooltip as it would otherwise
        get obscured by the right-hand side of the window.

      */ }
    #header header .menu .filler {
      flex-grow: 1; }
    #header header .menu .item {
      display: block;
      flex-grow: 0;
      line-height: 32px;
      margin-right: 20px;
      transition: transform 0.2s, border 0.1s;
      z-index: 10;
      border-bottom: 0px solid #ccc; }
      #header header .menu .item.btn {
        padding: 5px;
        padding-top: 0;
        padding-bottom: 0;
        background-color: white;
        transition: background-color 0.5s; }
      #header header .menu .item:hover {
        border-bottom-width: 3px; }
    #header header .menu .download a {
      margin-right: 0; }
    #header header .menu .download .tooltip {
      transform: translateX(-20px); }
    #header header .menu .download .tooltip-arrow {
      transform: translateX(20px); }

footer {
  position: absolute;
  left: 0;
  right: 0;
  height: 130px;
  padding: 10px;
  background-color: #222; }
  footer .menu {
    display: flex;
    height: 32px; }
    footer .menu .filler {
      flex-grow: 1; }
    footer .menu .logo {
      padding: 0;
      margin: 0;
      width: 32px;
      height: 32px;
      background-image: url("../img/abstractfactory-white-transparent.png");
      background-size: 32px 32px; }
    footer .menu a {
      margin: 0;
      padding: 0;
      margin-right: 20px;
      line-height: 32px; }
    footer .menu .item {
      z-index: 10;
      border-bottom: 3px solid transparent;
      transition: border-bottom-color 0.1s, transform 0.2s; }
      footer .menu .item:hover {
        color: #6CADD9;
        border-bottom-color: #6CADD9;
        transform: translateY(-2px); }
  footer #copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 30px; }

/*

  A section represents a single row of information on the site
  and includes e.g. landing page, pricing and kit information.

*/
@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes slide {
  from {
    left: -20px; }
  to {
    left: 0px; } }
section {
  position: relative;
  margin-left: 70px;
  margin-right: 70px;
  animation: fade 1s;
  width: 750px;
  /*
  
    Headlines mostly fills the viewport with its header text.

     ____________________________________________
    |                                            |
    |                                            |
    |____________________________________________|
            ______________________________
           |______________________________|


  */ }
  section p {
    transition: opacity 0.1s;
    line-height: 1.5em; }
  section pb-headline div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white; }
    section pb-headline div h1 {
      /* Main title */
      font-size: 6em;
      font-weight: 300;
      letter-spacing: 15px; }
    section pb-headline div h2 {
      /* Subtitle */
      font-size: 1.2em;
      margin-top: 20px;
      letter-spacing: 2px; }
    section pb-headline div h1, section pb-headline div h2, section pb-headline div h3 {
      text-align: center; }
    section pb-headline div p {
      display: block;
      color: white;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      max-width: 500px;
      text-align: center;
      color: #c5c5c5; }
@keyframes pulse {
  from {
    bottom: 0;
    opacity: 1.0; }
  50% {
    bottom: 0;
    opacity: 1.0; }
  90% {
    bottom: -40px;
    opacity: 0.0; }
  91% {
    bottom: 0;
    opacity: 0.0; }
  to {
    bottom: 0;
    opacity: 1.0; } }
  section a i {
    position: absolute;
    height: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    text-align: center;
    color: white;
    animation-duration: 7s;
    animation-name: pulse;
    animation-iteration-count: infinite; }

.navigation .next, .navigation .previous {
  position: fixed;
  top: 0px;
  bottom: 0px;
  display: table-cell;
  vertical-align: middle; }
  .navigation .next img, .navigation .previous img {
    position: absolute;
    width: 100px;
    top: 50%;
    margin-top: -50px;
    text-align: center;
    transition: margin-left ease-out 0.1s; }
.navigation .next {
  width: 100px;
  right: 0px; }
  .navigation .next:hover img {
    margin-left: 10px; }
.navigation .previous {
  width: 100px;
  left: 0px;
  transition: margin-right ease-out 0.1s; }
  .navigation .previous:hover img {
    margin-left: -10px; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kn {
  font-weight: bold; }

/* Keyword.Namespace */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
.type-csharp .highlight .k {
  color: #0000FF; }

.type-csharp .highlight .kt {
  color: #0000FF; }

.type-csharp .highlight .nf {
  color: #000000;
  font-weight: normal; }

.type-csharp .highlight .nc {
  color: #2B91AF; }

.type-csharp .highlight .nn {
  color: #000000; }

.type-csharp .highlight .s {
  color: #A31515; }

.type-csharp .highlight .sc {
  color: #A31515; }

.hljs {
  font-family: "Source Code Pro";
  line-height: 1.3em; }

#home .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-image: url("../img/downtown_bay_bridge_sa-2560x1440.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
#home .find-out-more.first {
  margin-top: 0px; }
#home #play {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 80px;
  opacity: 0.9;
  transition: opacity 0.1s; }
  #home #play:hover {
    opacity: 1.0; }
#home #player {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  visibility: hidden;
  background-color: transparent;
  transition: background-color 0.3s;
  text-align: center; }
  #home #player.active {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5); }
  #home #player iframe {
    display: block;
    width: 670px;
    height: 350px; }
#home #why-like-it .grid {
  flex-wrap: nowrap;
  align-items: flex-start; }
  #home #why-like-it .grid #why-like-it-images {
    width: 200px;
    min-width: 200px;
    font-size: 8em;
    margin-right: 50px; }
    #home #why-like-it .grid #why-like-it-images i:last-child {
      padding-left: 100px; }
  #home #why-like-it .grid img {
    background-image: url("../img/sunset_bridge-wallpaper-2560x1920.jpg");
    background-position: -475px -58px;
    background-repeat: no-repeat;
    background-size: 1200px;
    min-width: 200px;
    max-width: 200px;
    min-height: 250px;
    max-height: 250px;
    margin-right: 50px; }
#home #companies, #home #software, #home #example {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #home #companies h1, #home #software h1, #home #example h1 {
    padding-bottom: 30px; }
  #home #companies a, #home #software a, #home #example a {
    display: flex;
    align-items: center;
    cursor: default; }
    #home #companies a img, #home #software a img, #home #example a img {
      margin: 20px;
      width: auto; }
  #home #companies h1, #home #companies p, #home #software h1, #home #software p, #home #example h1, #home #example p {
    text-align: center; }
#home #stories h1 {
  text-align: center; }
#home #stories .grid .box {
  color: white;
  background-color: #222;
  margin: 15px;
  overflow: hidden;
  max-width: 250px;
  position: relative;
  padding: 10px;
  box-shadow: 1px 1px 2px 0px #AAA;
  transition: box-shadow 0.1s; }
  #home #stories .grid .box i {
    font-style: normal;
    color: #777; }
  #home #stories .grid .box p, #home #stories .grid .box a, #home #stories .grid .box div {
    position: relative;
    z-index: 2; }
  #home #stories .grid .box p {
    margin: 0;
    padding: 0; }

/*

  Prices are displayed in columns, all in a single row.
   ________   ________   ________   ________ 
  |        | |        | |        | |        |
  |        | |        | |        | |        |
  |        | |        | |        | |        |
  |        | |        | |        | |        |
  |________| |________| |________| |________|


*/
#pricing #prices {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 100px;
  font-weight: 400; }
  #pricing #prices .price {
    flex-grow: 1;
    max-width: 300px;
    min-width: 180px;
    min-height: 500px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #e6e6e6;
    position: relative; }
    #pricing #prices .price .description {
      height: 170px;
      background-color: #6CADD9;
      color: white; }
    #pricing #prices .price .location {
      padding: 0px; }
    #pricing #prices .price a {
      margin: 5px;
      text-align: center;
      position: absolute;
      display: block;
      right: 0px;
      bottom: 0px; }
    #pricing #prices .price h2 {
      font-size: 1.2em;
      font-weight: bold;
      text-align: center;
      margin: 0px;
      padding-top: 20px; }
    #pricing #prices .price p {
      padding: 20px;
      font-style: italic;
      text-align: center; }
    #pricing #prices .price ul {
      padding: 0px;
      margin: 0px;
      border-top: 1px solid #f0f0f0; }
    #pricing #prices .price li {
      border-bottom: 1px solid #f0f0f0;
      color: #333;
      list-style: none;
      padding: 10px;
      margin: 0px;
      text-align: center; }
    #pricing #prices .price li:nth-child(even) {
      background-color: #fafafa; }
#pricing .find-out-more:last-child .cover {
  background-color: #111; }

/*
  
  Kits
   ___________________________
  |                           |
  |___________________________|
   ___________________________
  |                           |
  |___________________________|
   ___________________________
  |                           |
  |___________________________|

*/
#kits .legend {
  position: relative;
  padding-bottom: 50px;
  width: 50px;
  color: #999;
  font-size: 0.8em; }
  #kits .legend table {
    border: none; }
  #kits .legend tr {
    border: none;
    margin: 2px;
    padding: 2px;
    margin-left: 10px; }
  #kits .legend td {
    border: none; }
  #kits .legend td:first-child {
    width: 15px;
    border-bottom: 7px solid white;
    border-top: 7px solid white;
    border-right: 7px solid white; }
#kits .kit {
  padding-bottom: 20px;
  position: relative;
  padding-left: 50px;
  padding-right: 50px; }
  #kits .kit .kit-body {
    padding: 0px;
    margin: 0px; }
  #kits .kit .classes {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    margin: 0px;
    padding: 0px; }
  #kits .kit p {
    color: #999; }
  #kits .kit .class {
    height: 3px;
    width: 25%; }
    #kits .kit .class:not(.active) {
      background-color: transparent; }
  #kits .kit .comingsoon {
    text-transform: uppercase;
    font-size: 0.8em;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 3px;
    background-color: #6CADD9;
    border-radius: 5px; }
    #kits .kit .comingsoon a {
      color: white; }

/*

  Misc

*/
.film {
  background-color: #FAB27F; }

.commercial {
  background-color: #FA7D81; }

.games {
  background-color: #85E8C1; }

.visualisation {
  background-color: #EFF372; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes slide {
  from {
    left: -20px; }
  to {
    left: 0px; } }
@font-face {
  font-family: "Source Code Pro";
  src: url("../font/SourceCodePro-Regular.ttf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: "Source Code Pro";
  src: url("../font/SourceCodePro-Semibold.ttf") format("truetype");
  font-weight: 700; }
#guide {
  font-family: "Lato"; }
  #guide #viewport {
    display: flex;
    flex-wrap: nowrap;
    font-weight: 400;
    font-family: Lato; }
    #guide #viewport h1 {
      margin-top: 200px;
      font-size: 2.5em; }
      #guide #viewport h1:first-child {
        margin-top: 0; }
    #guide #viewport h2 {
      font-size: 1.5em;
      color: #393939; }
    #guide #viewport h3 {
      font-size: 1.3em; }
    #guide #viewport h1, #guide #viewport h2, #guide #viewport h3 {
      margin-top: 20px;
      margin-bottom: 20px;
      line-height: 1.1; }
    #guide #viewport h3, #guide #viewport h4, #guide #viewport h5, #guide #viewport h6 {
      color: #494949; }
    #guide #viewport p, #guide #viewport ul, #guide #viewport ol, #guide #viewport table, #guide #viewport pre, #guide #viewport dl, #guide #viewport blockquote {
      color: #787878;
      margin-top: 20px;
      margin-bottom: 20px; }
    #guide #viewport li {
      margin-left: 40px;
      line-height: 1.5em;
      list-style: disc; }
    #guide #viewport a {
      color: #8d8d8d;
      font-weight: 400;
      text-decoration: none;
      transition: color 0.1s; }
      #guide #viewport a small {
        font-size: 11px;
        color: #777;
        margin-top: -0.6em;
        display: block; }
      #guide #viewport a:hover {
        color: #00adff; }
      #guide #viewport a.is-active {
        color: #ed4877; }
    #guide #viewport table {
      width: 100%;
      border-collapse: collapse; }
    #guide #viewport th, #guide #viewport td {
      text-align: left;
      padding: 5px 10px;
      border-bottom: 1px solid #e5e5e5; }
    #guide #viewport dt {
      color: #444;
      font-weight: 700; }
    #guide #viewport th {
      color: #444; }
    #guide #viewport img {
      margin-top: 20px;
      margin-bottom: 20px;
      max-width: 100%; }
    #guide #viewport strong {
      color: #222;
      font-weight: 700; }
    #guide #viewport small {
      font-size: 11px; }
    #guide #viewport hr {
      border: 0;
      background: #e5e5e5;
      height: 1px;
      margin: 0 0 20px; }
  #guide #sidebar {
    width: 400px;
    padding-right: 100px; }
    #guide #sidebar ul div {
      padding: 0;
      margin: 0; }
      #guide #sidebar ul div:last-child p {
        visibility: hidden; }
    #guide #sidebar ul li {
      margin: 0;
      padding-left: 25px;
      background: url("../img/list-style-image2.png") no-repeat 0px 0px;
      line-height: inherit;
      list-style: none; }
      #guide #sidebar ul li a {
        font-size: 14px; }
      #guide #sidebar ul li.active {
        background: url("../img/list-style-image2-active.png") no-repeat 0px 0px; }
        #guide #sidebar ul li.active a {
          color: black;
          font-weight: 700; }
    #guide #sidebar ul p {
      margin: 0;
      padding: 0;
      margin-bottom: -1px;
      margin-left: 6px;
      height: 15px;
      border-left: 2px solid rgba(0, 0, 0, 0.2); }

@media only screen and (max-device-width: 480px) {
  #home .background {
    background-image: url("../img/downtown_bay_bridge_sa-600x338.jpg"); } }

/*# sourceMappingURL=app.css.map */
